.about {
    background-color: #ffffff;
    height: 802px;
}

.about .wrapper {
    width: 960px;
    margin: auto;
}

.about_text {
    padding-top: 91px;
    text-align: center;
}

.about_text >h1 {
    color: #29bf5d;
    font-family: "HelveticaNeueCyr";
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 49px;
    letter-spacing: 1px;
}

.about_text> p {
    color: #878787;
    font-family: "HelveticaNeueCyr";
    font-size: 30px;
    margin-bottom: 124px;
    font-weight: 100;
    line-height: 35px;
    letter-spacing: 2px;
}

.images img {
    display: inline-block;
    padding-left: 110px;
}

.about .images img:first-child {
    padding-left: 0px;
}

.hidden img {
    display: none;
}

@media screen and (max-width:768px) {
    .about {
        height: 100%;
    }
    .about .wrapper {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    .images img {
        display: none;
    }
    .about_text> p {
        margin-bottom: 50px;
        font-size: 20px;
        line-height: normal;
    }
    .about_text >h1 {
        font-size: 25px;
    }
    .hidden img {
        width: 20%;
        display: inline-block;
        padding-bottom: 15%;
        margin-left: 10%;
    }
    .hidden img:first-child {
        margin-left: 0%;
    }
}

@media screen and (max-width: 600px) {
    .about .wrapper {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 360px) {
    .about .wrapper {
        width: 68%;
        margin-right: 20%;
        margin-left: 12%;
    }
}
