.demo {
    height: 1057px;
}

.demo .wrapper {
    width: 960px;
    margin: auto;
    position: relative;
}

.demo .wrapper h1 {
    padding-top: 103px;
    color: #29bf5d;
    font-family: "Helveticaneuecyr-Roman";
    font-size: 46px;
    text-align: center;
    font-weight: 400;
}

.demo_text {
    float: right;
    margin-top: 90px;
    color: #878787;
    font-family: "HelveticaNeueCyr";
    font-size: 36px;
    font-weight: 100;
    margin-right: 15px;
}

.left_bar {
    float: left;
}

.left_bar img {
    display: block;
    padding-top: 50px;
}

.left_bar img:first-child {
    padding-top: 70px;
}

.button a {
    float: right;
    margin-top: 100px;
    margin-right: 370px;
    text-decoration: none;
    text-align: center;
    background-color: #2abf5e;
    color: #fff;
    border: 2px solid #1d8842;
    font-family: "Helveticaneuecyr-Roman";
    padding: 21px 72px 21px 72px;
    font-size: 18px;
    border-radius: 7px;
}

.test1 {
    position: absolute;
    top: 790px;
    left: 358px;
    color: #878787;
    /* text color */
    font-family: "Helveticaneuecyr-Roman";
    font-size: 16px;
    font-weight: 400;
}

.test2 {
    position: absolute;
    top: 790px;
    left: 678px;
    color: #878787;
    /* text color */
    font-family: "Helveticaneuecyr-Roman";
    font-size: 16px;
    font-weight: 400;
}

.test1 li,
.test2 li {
    list-style-type: none;
    line-height: 40px;
}

.test2 p,
.test1 p {
    margin-bottom: 30px;
    font-size: 20px;
}

.left_bar2 {
    display: none;
}

@media screen and (max-width:768px) {
    .demo {
        height: 100%;
    }
    .demo .wrapper {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .demo_text {
        float: none;
        text-align: center;
        font-size: 20px;
        margin-top: 12%;
    }
    .test1 {
        position: static;
        display: block;
        text-align: center;
        padding-top: 20%;
    }
    .test2 {
        position: static;
        text-align: center;
    }
    .left_bar {
        display: none;
    }
    .left_bar2 {
        display: block;
        margin-top: 13%;
    }
    .left_bar2 img {
        max-width: 100%;
        display: block;
        padding-left: 0px;
        padding-bottom: 9%;
        margin: auto;
    }
    .left_bar2 img:last-child {
        padding-bottom: 22%;
    }
    .button a {
        float: none;
        margin: auto;
    }
    .button {
        display: block;
        margin: auto;
        text-align: center;
    }
    .button a:hover {
        background-color: #fff;
        color: #2abf5e;
    }
    .demo .wrapper h1 {
        font-size: 25px;
        padding-top: 15%;
    }
    .test2 p {
        margin-bottom: 8%;
        font-weight: 600;
    }
    .test1> p {
        margin-bottom: 4%;
        font-weight: 600;
    }
    .test1 ul,
    .test2 ul {
        margin-bottom: 4%;
    }
}

@media screen and (max-width:360px) {
    .button a {
        padding: 21px 60px 21px 60px;
    }
}
